  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@200&display=swap');


/*estilos seccion antes del footer */
.img-seccion {
    height: 10rem;
    width: 10rem;
    float: left;
    padding: 10px;
    margin: 5px;
}

.tam-letra {
    text-align: center;
    padding: 30px;
}


@media  (min-width: 700px){
    .img-seccion {
        height: 15rem;
        width: 15rem;
        padding: 20px;
    }

    .tam-letra {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
    }
}

@media  (min-width: 1025px){
    .img-seccion {
        height: 25rem;
        width:25rem;
    }

    .tam-letra {
        font-size: 2rem;
        text-align: center;
        font-weight: lighter;
        padding-top: 8rem;
    }
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
}

h1, h2, h3, h4{
        font-family: 'Lato', sans-serif;
}

/*Carrusel instagram*/

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #0dcaf0;
}

.containerIg {
    padding-left:20px;
    padding-right: 20px;
}

.logo{
    height: 80px;
    width: 80px;
}