/*estilos seccion antes del footer */
.img-seccion {
    height: 10rem;
    width: 10rem;
    float: left;
    padding: 10px;
    margin: 5px;
}

.tam-letra {
    text-align: center;
    padding: 10px;
}

@media  (min-width: 700px){
    .img-seccion {
        height: 20rem;
        width: 20rem;
        padding: 20px;
    }

    .tam-letra {
        font-size: 2rem;
        text-align: center;
    }
}

@media  (min-width: 1025px){
    .img-seccion {
        height: 35rem;
        width:35rem;
    }

    .tam-letra {
        font-size: 2.5rem;
        text-align: center;
        font-weight: lighter;
    }
}